body{
  background-image: url("valentines%20day.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    color: #eaa700
}

h2{
    color: #ff7fff
}

p{
    color: #ffa500
}

hr{
        border: 2px solid white;
    border-radius: 5px
}

h3{
    color: #5757f2
}

a{
    background-color: antiquewhite;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px
    cursor pointer;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}