body {
    width: 1905px;
}
h1 {
    text-align: center;
    background-color: black;
    color:white;
    margin-left:-8px;
    margin-right:-8px;
    margin-top:-10px;
    padding:5px;
    font-size:50px;
    height:100px;
}
.left {
    display: inline-block;
    width: 634px;
    border: 2px solid black;
    margin: -3px;
    background-color:#001b65;
    color:#ffffff
}
.center {
    display: inline-block;
    width: 634px;
    border: 2px solid black;
    margin: -3px;
    background-color:#ff6900;
    color:#ffffff;
}
.right {
    display: inline-block;
    width: 634px;
    border: 2px solid black;
    margin: -3px;
    background-color:#585500;
    color:#e5ad11;
}
h3 {
    text-align: center;
    padding:5px;
    font-size:30px;
}
p {
    text-align: center;
    padding:5px;
    font-size:25px;
}
h2 {
    text-align: center;
    padding:5px;
    font-size:40px;
}
img {
    width:95px;
    height:95px;
    margin:-2px;
    display: inline-block;
    object-fit:cover;
   
   
}
.farleft {
    margin-left:1px;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-left:-8px;
    margin-right:-8px;
    padding:5px;
    height:100px;
}