body{
    background-color: white;
    color: #ffffff;
  background-image: url("marvel.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%
}

tr:nth-child(even){
    background-color: #dddddd
}

td, th{
   border: 1px solid #dddddd;
    padding: 8px;
}