body{
    background-color: white;
    color: #ffffff;
  background-image: url("marvel%20studios.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
position: relative;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%
}

tr:nth-child(even){
    background-color: #dddddd
}

td, th{
   border: 10px solid #dddddd;
    padding: 10px;
}

th{
    color: floralwhite;
    font-size: x-large;
}

td{
    color: rgb(24, 196, 196)
}

h1{
    text-align: center; 
}

.myDiv{
    border: 5px outset #3c00ff;
    background-color: #4c9869
}

li{
    color: rgb(24, 196, 196)
}

li{
    text-align: center
}

p{
    text-align: center;
}

li{
    font-size: 20px
}

h1{
    font-size: 71px
}

p{
    font-size: 30px;
}

iframe{
    margin-left: 650px;
    margin-right: 650px;
}

a{
    margin-left: 550px;
    background-color: #3c00ff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px
    cursor pointer;
}
